<div class="card mt-2 mb-2">
  <div class="card-body">
    <h3><%= link.title %></h3>
    <small>Submitted on <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %></small>
  </div>
  <div class="card-footer text-muted">
    <div>
      <%= link_to 'Visit URL', link.url, class: 'btn btn-sm btn-primary' %>
      <% if current_user == link.user %>
        <%= link_to 'Edit', edit_link_path(link), class: 'btn btn-sm btn-secondary' %>
      <% end %>
      <% if is_show %>
        <%= link_to 'Back', links_path, class: 'btn btn-sm btn-secondary' %>
      <% end %>
    </div>
  </div>
</div>